/*    main <div> tag    */
.search-bar {
    position: relative;
    display: flex;   flex-direction: row;   justify-content: center;   align-items: center;
    margin-top: 75px;   margin-bottom: 50px;
}

/*    <div> containing search form    */
.search {
    
}

/*    <form> containing search elements    */
.search-form {
    display: flex;   align-items: center;
}

/*    <input> tag    */
.search-input {
    height: 40px;
    margin-right: 25px;
    background-color: rgb(3, 3, 47);
    text-align: center;   color: white;   font-size: 20px;   font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(222, 215, 21);   border-radius: 30px;
}

.search-input:hover {
    border: 2px solid rgb(242, 138, 12);
    box-shadow: 1px 1px 4px rgb(222, 215, 21);
}

.search-input:focus {
    border: 4px double rgb(242, 138, 12);
    box-shadow: 1px 1px 4px white;
}

::placeholder {
    color: ivory;   font-size: 15px;
    font-style: italic;    font-weight: lighter;   opacity: 0.6;
}

/*    search <button>    */
.search-button {
    height: 40px;   width: 40%;
    background-color: rgb(3, 3, 47);
    text-align: center;   color: white;   font-size: 15px;   font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(222, 215, 21);   border-radius: 30px;
    cursor: pointer;
}

.search-button:hover {
    border: 2px solid rgb(242, 138, 12);
    box-shadow: 1px 1px 4px rgb(222, 215, 21);
}