/*    main <nav> tag    */
.navbar {
    position: fixed;
    display: flex;   flex-direction: row;   justify-content: space-between;   align-items: center;
    width: 100%;   z-index: 5;   padding-top: 2px;   padding-bottom: 0;
    background-color: rgb(2, 3, 23);
    border-bottom: 1px solid rgb(222, 215, 21);
    box-shadow: 2px 2px 9.5px rgb(242, 138, 12);
}

/*    <div> containing image    */
.nav-image {
    width: 25%;
}

/*    <img> tag    */
.nav-hero-img {
    width: 15%;   height: 15%;
    margin-left: 25px;
}

/*    <div> containing nav links    */
.navigation {
    padding: 5px;   padding-right: 75px;
}

/*    <li> tag    */
li {
    display: inline;
    margin-right: 75px;
    text-align: center;   font-size: 15px;   font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

/*    <a> tag inside <li>    */
a {
    color: ivory;
    text-decoration: none;   text-transform: uppercase;   letter-spacing: 5px;
}

a:hover {
    color: rgb(242, 138, 12);  text-shadow: 0px 2px 5px white;
}