/*    main <div> tag    */
.hero {
    position: relative;
    margin-top: 41px;
    display: flex;   flex-direction: column;   justify-content: center;   align-items: center;
}

/*    <div> containing header    */
.hero-header {
    position: absolute;   top: 26%;
    display: flex;   flex-direction: column;   align-items: center;
    text-align: center;   color: rgb(242, 138, 12);   font-size: 35px;   font-family: 'Times New Roman', Times, serif;
    font-style: italic;   text-shadow: 4px 1px 3px black, 4px 2px 8px rgb(222, 215, 21), 5px 5px 15px white;   letter-spacing: 15px;
    cursor: default;
}

/*    <div> containing image    */
.hero-image {
    display: flex;   flex-direction: column;   align-items: center;
}

/*    <img> tag    */
.image {
    max-width: 25%;   
    margin-top: 45px;
}